.employeetable {
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-color: rgba(255, 255, 255, 0.18);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-insets: 3px;
    -fx-border-insets: 3px;
}

.table-cell {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 12px; /* Font size 12px */
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-border-width: 0;
    -fx-font-size: 13px; /* Font size 13px */
}

.table-view .table-row-cell:hover {
    -fx-background-color: #2B2B2B; 
}

.table-row-cell:selected {
    -fx-background-color: #4D4F53; /* Grey on selection */
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: #808080; /* Greyish color for the horizontal scrollbar */
    -fx-background-radius: 5px; /* Radius of 5px */
}

.table-view .scroll-bar:vertical {
    -fx-background-color: #808080; /* Greyish color for the vertical scrollbar */
    -fx-background-radius: 5px; /* Radius of 5px */
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 13px; /* Font size 13px */
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}

.table-view .column-header:first-child .label {
    -fx-text-fill: #3d94f6;
}