/*
 * Empty Stylesheet file.
 */

.btns {
    -fx-background-color: #848884;
    -fx-background-radius: 10px;
    -fx-text-fill: #404040;
}

.btns:hover {
    -fx-background-color: #575957;
    -fx-text-fill: #a3a2a2;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.btns:pressed {
    -fx-background-color: #575957;
    -fx-text-fill: #a3a2a2;
    -fx-scale-x: 1;
}

.main-bg {
    -fx-background-color: #0A0A0A;
}

.secondary-bg {
    -fx-background-color: #121212;
    -fx-background-radius: 10px;
}


