.txtField {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: silver;
}

.txtField:hover {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: transparent;
    -fx-text-fill: silver;
}
.txtField:pressed {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: transparent;
    -fx-text-fill: silver;
}
.txtField:focused {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: transparent;
    -fx-text-fill: silver;
}

.btns {
    -fx-background-color: #848884;
    -fx-background-radius: 10px;
    -fx-text-fill: #404040;
}

.btns:hover {
    -fx-background-color: #575957;
    -fx-text-fill: #a3a2a2;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.btns:pressed {
    -fx-background-color: #575957;
    -fx-text-fill: #a3a2a2;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.combobox {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 5px; /* Adjust padding as needed */
    -fx-text-fill: silver;
    -fx-font-size: 16px;
}

.combobox .arrow-button {
    -fx-background-color: transparent;
}

.combobox .arrow-button .arrow {
    -fx-background-color: gray;
}

.combo-box-popup .list-view {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color: gray; 
    -fx-border-width: 1px; 
    -fx-border-radius: 10px;
    -fx-padding: 5px; 
}

.combo-box-popup .list-view .list-cell {
    -fx-margin: 5px;
}

.combo-box .list-cell:selected {
    -fx-text-fill: white; /* or any other color */
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-radius: 10px;
    -fx-background-color: gray;
    -fx-border-color: transparent; 
    -fx-border-width: 1px; 
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

.btnsv2 {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-text-fill: gray;
}

.btnsv2:hover {
    -fx-border-color: #575957;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.btnsv2:pressed {
    -fx-border-color: #575957;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.employeetable {
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-color: rgba(255, 255, 255, 0.18);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-insets: 3px;
    -fx-border-insets: 3px;
}

.table-cell {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 12px; /* Font size 12px */
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-border-width: 0;
    -fx-font-size: 13px; /* Font size 13px */
}

.table-view .table-row-cell:hover {
    -fx-background-color: #2B2B2B; 
}

.table-row-cell:selected {
    -fx-background-color: #4D4F53; /* Grey on selection */
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: #808080; /* Greyish color for the horizontal scrollbar */
    -fx-background-radius: 5px; /* Radius of 5px */
}

.table-view .scroll-bar:vertical {
    -fx-background-color: #808080; /* Greyish color for the vertical scrollbar */
    -fx-background-radius: 5px; /* Radius of 5px */
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 13px; /* Font size 13px */
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}

.table-view .column-header:first-child .label {
    -fx-text-fill: #3d94f6;
}

.textArea {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: silver;
}
.textArea .scroll-pane {
    -fx-background-color: transparent;
}

.textArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.textArea .scroll-pane .content{
    -fx-background-color: transparent;
}

.textArea:pressed {
    -fx-prompt-text-fill: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.textArea:focused {
    -fx-prompt-text-fill: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.datePicker {
    -fx-background-color: #f0f0f0; /* Change background color */
    -fx-text-fill: #333333; /* Change text color */
    -fx-font-size: 14px; /* Change font size */
}

.datePicker .arrow-button {
    -fx-background-color: #dddddd; /* Change button color */
}

.datePicker .arrow {
    -fx-background-color: #555555; /* Change arrow color */
}

.datePicker .popup-content {
    -fx-background-color: #ffffff; /* Change popup content background color */
}

.scrllPane {
    -fx-background-color: transparent;
}

.scrllPane .viewport {
    -fx-background-color: transparent;
}

.scrllPane .content{
    -fx-background-color: transparent;
}

.scrllPane .scroll-bar:horizontal {
    -fx-background-color: transparent; /* Set the fill color */
}

/* Vertical ScrollBar */
.scrllPane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Set the fill color */
}

.scrllPane .scroll-bar:horizontal .thumb{
    -fx-background-color: #121212; /* Set the fill color */
}

/* Vertical ScrollBar */
.scrllPane .scroll-bar:vertical .thumb{
    -fx-background-color: #121212; /* Set the fill color */
}
