/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 7, 2023, 12:42:48 AM
    Author     : jcarl
*/
.txtFieldTranparent {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-width: 0.3px;
    -fx-border-color: white;
    -fx-border-radius: 10px;
   
}

.logInButton{
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px
}
.logInButton:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #AC9BC4;

}
.logInButton:pressed{
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-background-color: #A89ABF;
}