/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 7, 2023, 12:42:48 AM
    Author     : jcarl
*/

.txtFieldUP {
    -fx-background-color:  transparent; 
    -fx-background-insets: 0.5; 
    -fx-padding: 10px 15px; 
    -fx-font-family: Corbel;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: #706F6D; 
    -fx-border-width: 1px; 
    -fx-border-color:  #054041; 
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px; 
    -fx-text-fill: gray;
}

.txtFieldUP:hover {
    -fx-border-color:  #FFD700; 
    -fx-text-fill: #C0C0C0;
    -fx-prompt-text-fill: #C0C0C0; 
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.txtFieldUP:pressed{
    -fx-border-color: #FFD700; 
    -fx-text-fill: #C0C0C0;
    -fx-prompt-text-fill: #C0C0C0; 
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-cursor: hand;
}

.btnLogin{
    -fx-background-color:  #054041; 
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px;  
    -fx-cursor: hand;
    -fx-font-family: Corbel;
    -fx-text-fill: #C0C0C0;
}

.btnLogin:hover {
    -fx-background-color: #FFD700;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
    -fx-text-fill:  #36454F; 
}

.btnLogin:pressed {
    -fx-background-color: #FFD700;
    -fx-text-fill:  #36454F; 
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-cursor: hand;
}


.btnBack{
    -fx-background-color:  transparent;
    -fx-cursor: hand;
    -fx-text-fill: gray;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.btnBack:hover {
    -fx-border-color: #FFD700;
    -fx-text-fill: #C0C0C0;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.btnBack:pressed {
    -fx-border-color: #FFD700;
    -fx-text-fill: #C0C0C0;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-cursor: hand;
} 