.minimizeMaximizeButton{
    -fx-background-color: transparent;
}
.minimizeMaximizeButton:hover{
    -fx-background-color: #3F3F3F;
}
.minimizeMaximizeButton:pressed{
    -fx-background-color: #3C3F41;
}

.exitButton{
    -fx-background-color: transparent;
}
.exitButton:hover{
    -fx-background-color: #C90E31;
}
.exitButton:pressed{
    -fx-background-color: #C90E31;
}

.sidePanelButton{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}
.sidePanelButton:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.sidePanelButton:pressed{
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.logOutButton{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}
.logOutButton:hover{
    -fx-background-color: #171B20;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.logOutButton:pressed{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}


/*.logOutButton{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-background-radius: 10px;
    -fx-border-width: 0.3px;
    -fx-border-color: white;
    -fx-border-radius: 10px
}
.logOutButton:hover{
    -fx-background-color: transparent;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius: 10px
}
.logOutButton:pressed{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-background-radius: 10px;
    -fx-border-width: 0.3px;
    -fx-border-color: white;
    -fx-border-radius: 10px
}*/

.imageDesign{
    -fx-border-radius: 20px;
}

.myText {
    -fx-font-family: "Arial Black";
    -fx-font-size: 150%; /* Adjust the percentage as needed */
    -fx-font-weight: bold;
}
.closeSidePanel{
    -fx-background-color: transparent;
}
.closeSidePanel:hover{
    -fx-background-color: #30363D;
}
.navigationButton{
    -fx-background-color: transparent;
}
.navigationButton:hover{
    -fx-background-color: #30363D;
    -fx-background-radius: 10px;
}
.sendFeedback {
    -fx-text-fill: #217eff;
    -fx-cursor: hand;
}

.sendFeedback:hover {
    -fx-text-fill: #2d53ef; /* Text color on hover */
    -fx-underline: true;
}

.sendFeedback:pressed {
    -fx-text-fill: #217eff; /* Text color when pressed */
}
.selected-button {
    -fx-background-color: #30363D;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
}