.minimizeMaximizeButton{
    -fx-background-color: transparent;
}
.minimizeMaximizeButton:hover{
    -fx-background-color: #3F3F3F;
}
.minimizeMaximizeButton:pressed{
    -fx-background-color: #3C3F41;
}

.exitButton{
    -fx-background-color: transparent;
}
.exitButton:hover{
    -fx-background-color: #C90E31;
}
.exitButton:pressed{
    -fx-background-color: #C90E31;
}