.minimizeMaximizeButton{
    -fx-background-color: transparent;
}
.minimizeMaximizeButton:hover{
    -fx-background-color: #3F3F3F;
}
.minimizeMaximizeButton:pressed{
    -fx-background-color: #3C3F41;
}

.exitButton{
    -fx-background-color: transparent;
}
.exitButton:hover{
    -fx-background-color: #C90E31;
}
.exitButton:pressed{
    -fx-background-color: #C90E31;
}

.sidePanelButton{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}
.sidePanelButton:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.sidePanelButton:pressed{
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.logOutButton{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}
.logOutButton:hover{
    -fx-background-color: #171B20;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.logOutButton:pressed{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}


/*.logOutButton{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-background-radius: 10px;
    -fx-border-width: 0.3px;
    -fx-border-color: white;
    -fx-border-radius: 10px
}
.logOutButton:hover{
    -fx-background-color: transparent;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius: 10px
}
.logOutButton:pressed{
    -fx-background-color: transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-background-radius: 10px;
    -fx-border-width: 0.3px;
    -fx-border-color: white;
    -fx-border-radius: 10px
}*/

.imageDesign{
    -fx-border-radius: 20px;
}

.myText {
    -fx-font-family: "Arial Black";
    -fx-font-size: 150%; /* Adjust the percentage as needed */
    -fx-font-weight: bold;
}
.closeSidePanel{
    -fx-background-color: transparent;
}
.closeSidePanel:hover{
    -fx-background-color: #30363D;
}
.navigationButton{
    -fx-background-color: transparent;
}
.navigationButton:hover{
    -fx-background-color: #30363D;
    -fx-background-radius: 10px;
}
.sendFeedback {
    -fx-text-fill: #217eff;
    -fx-cursor: hand;
}

.sendFeedback:hover {
    -fx-text-fill: #2d53ef; /* Text color on hover */
    -fx-underline: true;
}

.sendFeedback:pressed {
    -fx-text-fill: #217eff; /* Text color when pressed */
}
.selected-button {
    -fx-background-color: #30363D;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
}
.main-bg {
    -fx-background-color:  #010409 ;
}

.secondary-bg {
    -fx-background-color: #090909;
    -fx-background-radius: 10px;
}

.theme-color {
    -fx-background-color: #054041;
    -fx-background-radius: 10px;
}

.buttns{
    -fx-background-color: transparent;
    -fx-border-width: 0.4px;
    -fx-border-color: #45484B;
    -fx-border-radius: 10px 0px 0px 10px;
}

.buttns:hover {
    -fx-background-color: #161B22;
}
.buttnsTimer{
    -fx-background-color: transparent;
    -fx-border-width: 0.4px;
    -fx-border-color: #45484B;
}

.buttnsTimer:hover {
    -fx-background-color: #161B22;
}
.buttnsStopw{
    -fx-background-color: transparent;
    -fx-border-width: 0.4px;
    -fx-border-color: #45484B;
    -fx-border-radius:  0px 10px 10px 0px ;
}

.buttnsStopw:hover {
    -fx-background-color: #161B22;
}

.selected-buttonForTime {
    -fx-background-color: #2A71E6;
}

.sendFeedback:hover{
    -fx-fill: #2D53EF;
}
.sendFeedback:pressed{
    -fx-fill: #2d53ef;
}

.selected-buttonForToDoList {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.combobox {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 5px; /* Adjust padding as needed */
    -fx-text-fill: silver;
    -fx-font-size: 12px;
}

.combobox .arrow-button {
    -fx-background-color: transparent;
}

.combobox .arrow-button .arrow {
    -fx-background-color: gray;
}

.combo-box-popup .list-view {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color: gray; 
    -fx-border-width: 1px; 
    -fx-border-radius: 10px;
    -fx-padding: 5px; 
}

.combo-box-popup .list-view .list-cell {
    -fx-margin: 5px;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-radius: 10px;
    -fx-background-color: gray;
    -fx-border-color: transparent; 
    -fx-border-width: 1px; 
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

.txtField {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: silver;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.txtField:hover {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: transparent;
    -fx-text-fill: silver;
}
.txtField:pressed {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: transparent;
    -fx-text-fill: silver;
}
.txtField:focused {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: transparent;
    -fx-text-fill: silver;
}

.announcementCard {
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.announcementCard:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.announcementCard:pressed {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.textArea {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 1.5px;
    -fx-border-radius: 10px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: silver;
}

.textArea .scroll-pane {
    -fx-background-color: transparent;
}

.textArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.textArea .scroll-pane .content{
    -fx-background-color: transparent;
}

.textArea:pressed {
    -fx-prompt-text-fill: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.textArea:focused {
    -fx-prompt-text-fill: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.btns {
    -fx-background-color: #848884;
    -fx-background-radius: 10px;
    -fx-text-fill: #404040;
}

.btns:hover {
    -fx-background-color: #575957;
    -fx-text-fill: #a3a2a2;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.btns:pressed {
    -fx-background-color: #575957;
    -fx-text-fill: #a3a2a2;
    -fx-scale-x: 1;
}


.scrllPane {
    -fx-background-color: transparent;
}

.scrllPane .viewport {
    -fx-background-color: transparent;
}

.scrllPane .content{
    -fx-background-color: transparent;
}

.scrllPane .scroll-bar:horizontal {
    -fx-background-color: transparent; /* Set the fill color */
}

/* Vertical ScrollBar */
.scrllPane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Set the fill color */
}

.scrllPane .scroll-bar:horizontal .thumb{
    -fx-background-color: #121212; /* Set the fill color */
}

/* Vertical ScrollBar */
.scrllPane .scroll-bar:vertical .thumb{
    -fx-background-color: #121212; /* Set the fill color */
}

.ssecondary-bg {
    -fx-background-color: #121212;
    -fx-background-radius: 10px;
}

